<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="wrapper vh-60">
  <div id="calculadora" class="container">
    <div id="caja-operacion" class="row">
      <div class="col caja"><input class="no-border shadow-none" type="text" id="operacion_entera" [(ngModel)]="operacion_entera" value="0" disabled=""></div>
    </div>
    <div id="caja-resultado" class="row">
      <div class="col caja"><input class="no-border shadow-none" type="text" id="numero_actual" [(ngModel)]="numero_actual" value="0" disabled=""></div>
    </div>
    <div class="row h-8">
      <div class="col operacion" (click)="clickC()">C</div>
      <div class="col operacion" (click)="clickCE()">CE</div>
      <div class="col operacion" (click)="clickDel()">DEL</div>
      <div class="col operacion" (click)="clickOperacion(' / ')">/</div>
    </div>
    <div class="row h-8">
      <div class="col numero" (click)="clickNumero('9')">9</div>
      <div class="col numero" (click)="clickNumero('8')">8</div>
      <div class="col numero" (click)="clickNumero('7')">7</div>
      <div class="col operacion" (click)="clickOperacion(' * ')">x</div>
    </div>
    <div class="row">
      <div class="col numero" (click)="clickNumero('6')">6</div>
      <div class="col numero" (click)="clickNumero('5')">5</div>
      <div class="col numero" (click)="clickNumero('4')">4</div>
      <div class="col operacion" (click)="clickOperacion(' - ')">-</div>
    </div>
    <div class="row">
      <div class="col numero" (click)="clickNumero('3')">3</div>
      <div class="col numero" (click)="clickNumero('2')">2</div>
      <div class="col numero" (click)="clickNumero('1')">1</div>
      <div class="col operacion" (click)="clickOperacion(' + ')">+</div>
    </div>
    <div class="row">
      <div class="col numero" (click)="clickPunto()">.</div>
      <div class="col numero" (click)="clickNumero('0')">0</div>
      <div class="col numero" (click)="clickPositivoNegativo()">+/-</div>
      <div class="col operacion" (click)="clickIgual()">=</div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

